# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.cache
/instance

# IDE
.idea
.vscode